@font-face {
    font-family: "My Custom Font";
    src: url('./Gilroy-FREE/Gilroy-ExtraBold.otf') format("truetype");
}
 

body{
    overflow-x:hidden;
}
#nav-hide{
    background-color: white;
      position: fixed;
      top: 0;
      width: 100%;
      display: block;
      transition: top 0.3s;
      z-index: 9999;
 }
/**********************************
 trigger menu overlay
**********************************/
.menu-trigger {
    cursor: pointer;
    position: fixed;
    padding: 1rem;
    top: 0;
    right: 0;
    z-index: 100;
    color: black;
    transform: rotate(225deg);
    transition: all 350ms ease;
}
    .animated-icon3 {
        width: 30px;
        height: 20px;
        position: relative;
        margin: 0px;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
        }
        .animated-icon3 span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        }
        .animated-icon3 span {
        background: blue;
        }
         
        .animated-icon3 span:nth-child(1) {
        top: 0px;
        transform-origin: left center;
        }
        
        .animated-icon3 span:nth-child(2) {
        top: 10px;
        transform-origin: left center;
        }
        
        .animated-icon3 span:nth-child(3) {
        top:0px;
        transform-origin: left center;
        }
        
        .animated-icon3.open span:nth-child(1) {
        transform: rotate(45deg);
        top: 0px;
        left: 8px;
        }
        
        .animated-icon3.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
        }
        
        .animated-icon3.open span:nth-child(3) {
        transform: rotate(-45deg);
        top: 21px;
        left: 8px;
        }
   
   
    
  .menu-trigger.open {
    color:white;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    z-index: 101;
  } 
  #nav-overlay {
    overflow: hidden;
    position:fixed;
    top: 0%;
    width: 100%;
    left: 0% !important;
    height: 100%;
  /*   z-index:1;*/
    
  }
  
  #nav-overlay ul {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: -100%;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    z-index: 90;
    transition: top 350ms ease;
  }
  
  #nav-overlay ul li {
    display: block;
    text-align:left;
    margin-left: 20% !important;
    margin: 1rem 0;
  }
  
  #nav-overlay ul a, #nav-overlay ul a:visited {
    font-size: 3rem;
    font-weight: 600;
    line-height:0.5;
    text-decoration: none;
    color: white;
    font-family: 'my custom font';
  }
  #nav-overlay ul a:hover{
      color:blue;
  }
  
  #nav-overlay ul a:hover, #nav-overlay ul a:focus, #nav-overlay ul a:visited, #nav-overlay ul a:visited:hover, #nav-overlay ul a:visited:focus, #nav-overlay ul a:visited:visited { text-decoration:none; }
  
  #nav-overlay.open ul { top:0; }
  
  #nav-overlay:before, #nav-overlay:after {
    content:"";
    position: absolute;
    z-index:50;
    top: 0;
    height: 100%;
    width: 100%;
    transition: transform 350ms;
    background-color: black;
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
    
  }
  #nav-overlay:before {
    left: 0;
    transform: skew(50deg) translateX(-200%);
    clip: rect(auto 50vw auto auto);
  }
  @media (min-width: 500px) {
  
  #nav-overlay:before {
    
    transform: skew(50deg) translateX(-150%);
  }
  }
  
  #nav-overlay.open:before {
     
    transform: skew(0) translateX(0%);
  }
  
  #nav-overlay:after {
    right: 0;
     
    transform: skew(50deg) translateX(200%);
    clip: rect(auto auto auto 50vw);
  }
  @media (min-width: 500px) {
  
  #nav-overlay:after {
     
    transform: skew(50deg) translateX(150%);
  }
  }
  
  #nav-overlay.open:after {
     
    transform: skew(0) translateX(0%);
  }
  .icon {
    display: inline-block;
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
    font-size: inherit;
    text-rendering: auto;
    
  }
  
  .icon.icon-menu:before {
    content: '\f136';
    font-size: 3rem;
  }
  
/**********************************
 trigger menu overlay End
**********************************/

  .div-hover:hover .bg-case-img{
            transform: scale(1.2); 
            overflow: hidden;
            background-size: cover;
            transition:2s; 
        }
    .div-hover:hover .bg-case-img-b{
            transform: scale(1.2); 
            overflow: hidden;
            background-size: cover;
            transition:2s; 
        }
        .div-hover:hover .bg-case-img-c{
            transform: scale(1.2); 
            overflow: hidden;
            background-size: cover;
            transition:2s; 
        }  
        .centered {
            position: absolute;
            top: 50%;
            left:45%;
            width:60%;
            transform: translate(-50%, -50%);
          }
          .overlay{
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                opacity: 1;
                transition: .5s ease;
                background-color: #f3ef0a;
                overflow:hidden;
            }
         


.background {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow: hidden;
}
.bg-image-veena{
    background:rgba(238, 241, 23, 1) center center no-repeat;
    height: 100%;
   width: 100%;
   
}
.h_100{
    height:100%;
}
.bg-case-img{
    background:url(image/projects_2.jpg) center center no-repeat;
    background-size:cover; 
    width: 100%;
    height:100%; 
    min-height:100% !important  
}
.bg-case-img-b{
    background:url(image/projects_3.jpg) center center no-repeat;
    background-size:cover; 
    width: 100%;
    height:100%; 
    min-height:100% !important   
}
.bg-case-img-c{
    background:url(image/projects_1.jpg) center center no-repeat;
    background-size:cover; 
    width: 100%;
    height:100%; 
    min-height:100% !important ; 
}








 
.section-padding{
    padding-bottom: 4%;
    padding-top:4% ;
}
   .masthead {
    z-index: 100;
    width: 100%;
    background-color:rgba(238, 241, 23, 1) !important;
}
    
      
      
        
    .gif{
        position: absolute;
        background-image: url('image/Yellow-header-bg-video.gif');
        height:100%;
        width:100% !important;
        background-position: center; 
        background-repeat: no-repeat;
        z-index:+1; 
         
        
        
    }
    .digital-products-text h5{
        line-height: 2rem;
        font-family: 'IBM Plex Serif';
        color:black;
        position: relative;
        padding-left: 1rem;
        margin-bottom: 2rem;
    }
    .digital-products-text h5:before{
        content: '';
        height: 85%;
        width: 3px;
        background-color: #004fff;
        position: absolute;
        left: 0;bottom: 5px;
        margin-left: 0%;
        overflow: hidden;  
    }
    .bg-image-discovry{
            background: url(image/services_2.jpg) center center no-repeat;
            background-size: cover;
            height:100%;
            width: 100%;
            overflow: hidden;

        } 
        .img-hover{
            transition: transform 2s;
            overflow: hidden;
            background-size: cover;
            cursor: pointer;
        }
         
        .div-hover:hover .zoom-aero{
             width:120px;
             background:blue;
             cursor: pointer;
             transition:1s; 
            }
        .div-hover:hover .img-hover img{
            transform: scale(1.2); 
            overflow: hidden;
            background-size: cover;
            transition:2s; 
        }
        .zoom-aero{
            transition: width 2s;
            width:40px;
            padding:1px;
            background: black;
            cursor: pointer;
            margin-bottom: 5px;
            }

        
         .social.icon:hover{
             color:blue;
         }
.home-head-font{
    font-size: 3rem;
    line-height: 3rem;
    font-family: 'My Custom Font';
    margin-bottom: 20px;
    color:white !important;
    letter-spacing: -1px;
    font-weight:600;
}
       

.head-font{
    font-size:110px;
    line-height: 110px;
    font-family: 'My Custom Font';
    margin-bottom: 20px;
    color:white;
    letter-spacing: -1px;
    font-weight: bold;
}
.veena-text{
    font-size: 62px;
    line-height: 64px;
    font-family: 'My Custom Font';
    margin-bottom: 20px;
    color:black;
    letter-spacing: -1px;
    font-weight:bolder;
}
.discovery-text{
    font-size: 96px;
    line-height:90px;
    font-family: 'My Custom Font';
    margin-bottom: 20px;
    color:black;
    letter-spacing: -1px;
    font-weight:bolder;
}
.carousel-text{
    font-size: 2.25rem;
    line-height: 2.2rem;
    color: #000000;
    font-weight: bolder;
    font-family: 'My Custom Font';
}
.carousel-indicators {
    margin: 0px;
    height: 0px;
}

    .carousel-indicators ul {
        width: 100%;
    }


    .carousel-indicators li{
        height: 3px !important;
        border-radius: 0px !important;
        width: 25%;
        color: green !important;
    }
    .social-icon:hover{
        color: blue !important;
        cursor: pointer; 
    }
    .ser-head-font{
        font-size: 4rem;
        line-height: 4.2rem;
        color: #000000;
        font-weight: 600;
        font-family: 'My Custom Font';
        margin-bottom: 20px;
         
        
    }
    .ser-middle-font{
        font-size: 4rem;
        line-height: 4.2rem;
        color: #ffffff;
        font-weight: 600;
        font-family: 'My Custom Font';
        margin-bottom: 20px;
    }
    .service-top-padding{
        padding: 6.5% 0 0;
    }
    /* service page css  end*/
    /* about page */
    .about-head-font{
        font-size: 80px;
        line-height: 83px;
        font-family: 'My Custom Font';
        margin-bottom: 20px;
        color:#000000;
        letter-spacing: -1px;
        font-weight:600;
        padding: 4rem 0;
    }
    .line-head {
        width: 70%;
        height: 1px;
        background: #ffffff;
        opacity: 0.8;
        margin: 1.1rem 0 1rem auto;
    }
    .title-font{
        font-size: 80px;
        line-height: 83px;
        font-family: 'My Custom Font';
        margin-bottom: 20px;
        color:black;
        letter-spacing: -1px;
        font-weight: bold;
        padding: 4rem; 
        margin-top: 10%;
    }
    .contact-font{
        font-size: 42px;
        line-height: 40px;
        font-family: 'My Custom Font';
        margin-bottom: 20px;
        color:black;
        letter-spacing: -1px;
        font-weight:900;
        padding-left: 4rem;
        
    }
    .work-font{
        font-size: 80px;
        line-height: 80px;
        font-family: 'My Custom Font';
        margin-bottom: 20px;
        color:black;
        letter-spacing: -1px;
        font-weight:900;
        padding-left: 4rem;
    }
    .div-padding{
        padding:5% !important;
        
    }
    .btn-weight{
        font-size: 20px !important;
        font-weight: 700 !important;
        border-radius: 0% !important;
        border:solid black 1px !important;
    }
    .btn-weight:hover{
       color:white !important;
    }
    .discover-margin{
        margin-left:3% !important;
        margin-right:3% !important;
         
     }
     .discover-padding{
         padding-left: 3% !important;
         padding-right:  3% !important;
     }
     .discovry-font{
        font-size: 80px;
        line-height: 80px;
        font-family: 'My Custom Font';
        margin-bottom: 20px;
        color:black;
        letter-spacing: -1px;
        font-weight:900;
        padding: 5% 5% 1% 0%;
    }
    .manifesto-font{
        font-size: 4rem;
        line-height: 4.2rem;
        font-family: 'My Custom Font';
        margin-bottom: 20px;
        color:#ffffff;
        letter-spacing: -1px;
        font-weight:500;
    }
    .career-font{
        font-size: 51px;
        line-height: 51px;
        font-family: 'My Custom Font';
        margin-bottom: 20px;
        color:#000000;
        letter-spacing: -1px;
        font-weight:500;
    }
    .footer-padding{
        padding-top: 10%;
        padding-bottom: 10%;
    }
    
    .footer-text{
        font-size: 100px;
        line-height: 100px;
        font-family: 'My Custom Font';
        margin-bottom: 20px;
        color:#ffffff;
        letter-spacing: -1px;
        font-weight:500;
    }
    .career-top-padding{
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .carousel-indicators li {
        border-radius: 50% !important;
        width: 12px !important;
        height: 12px !important;
        
        
    }
    .leadership-padding{
        padding: 4% 0;
    }
    .img-brand{
        max-width: 100%;
        height: auto;
    }
    .service-brand img{
        vertical-align: middle;
    }
    .neberhood-font{
        font-size: 4rem;
        line-height: 4.2rem;
        font-family: 'My Custom Font';
        margin-bottom: 20px;
        color:#000000;
        letter-spacing: -1px;
        font-weight:500; 
    }
    .discovery-padding{
        padding-top: 1%;
        padding-bottom: 4%;
    }
    
    .story-padding{
        padding: 6% 0%;
    }
    .partner-font{
        font-size: 3.3rem;
        line-height: 3.2rem;
    }
    .neiberhood-padding{
        padding: 5% 0% 0% 0%;
    }
    .case_head_text{
        display:flex;
    }
    .case-line{
        width: 300px;
        height: 1px;
        background: #000000;
        margin: 2.4rem 0.5rem 2rem 0.5rem;
    }
    .case-study-link{
        list-style: none;
        color:black !important;
    }
    .case-study-link:hover{
        list-style: none !important;
        text-decoration: none !important; 
    }
    .collaboration-padding{
        padding-top:2%;
        margin-left: 4%;
    }
    .culture-padding{
        padding-bottom: 7% !important;
    }
    .project-font{
        font-size: 51px;
        line-height: 51px;
        font-family: 'My Custom Font';
        margin-bottom: 20px;
        color:#000000;
        letter-spacing: -1px;
        font-weight:500;
    }
    .project-padding{
        padding:5%;
    }
     

@media screen and (max-width:567px){
    .head-font{
        font-size:62px;
        line-height: 62px;
        font-weight:700;
        margin: auto;
    }
    .veena-text{
        font-size:48px;
        line-height: 48px;
    }
    .padding-py{
        padding-top:0px !important;
        padding-bottom:20px; 
    }
    .discovery-text{
        font-size:48px;
        line-height: 48px;
         
    }
    
    .about-head-font{
        font-size: 3.5rem !important;
        line-height:3rem !important;
    }
    .about-head-padding{
        padding: 2rem 0 !important;
    }
    .line-head{
        display: none;
    }
    .title-font{
        font-size: 42px;
        line-height: 43px;
        padding: 2rem;
    }
    .work-font{
        font-size: 40px;
        line-height: 40px;
    }
    .service-cente{
        text-align: center !important;
    }
    .ser-middle-font{
        font-size: 3.4rem;
        line-height: 3.2rem;
         
    }
    .home-head-font{
        font-size: 3rem !important;
        line-height: 3.2rem !important;
        
    }
    .partner-font{
        font-size: 3rem;
        line-height: 3rem;
    }
    .neiberhood-padding{
        padding: 2% 0%;
    }
    .space-padding{
        padding: 2% 0%;
    }
    .collaboration-padding{
        
        margin-left: 0%;
    }
    .project-font{
        font-size: 2.2rem;
        line-height:2.5rem;
        
    }
    
     
   
      
}
/* service page css */
@media screen and (max-width:767px){
.title-font{
        font-size:56px;
        line-height: 56px;
        padding: 2rem;
    }
    .work-font{
        font-size: 40px;
        line-height: 40px;
    }
    .head-font{
        font-size: 62px;
        line-height: 62px;
        font-weight:700;
        margin: auto; 
        padding:10%; 
    }
    .section-padding{
        margin: 0px !important;
        padding: 0px !important;
    }
    .footer-text{
        float: left;
        margin: 20px;
    }
    .head-aero{
        margin-left: 10%;
    }
    .div-padding{
        padding: 20px !important;
    }
    .discovry-font{
        font-size: 32px !important;
        line-height: 32px !important;
        padding: 1rem 0rem;
        
    }
    .carousel-text{
        font-size:25px;
        line-height: 22px;
        color: #000000;
        font-weight: bolder;
        font-family: 'My Custom Font';
    }
     
    .manifesto-font{
        font-size: 3rem;
        line-height:3.5rem;
         
    }
    .footer-text{
        font-size: 48px;
        line-height: 50px;
        font-family: 'My Custom Font';
        margin-bottom: 20px;
        color:#ffffff;
        letter-spacing: -1px;
        font-weight:500;
    }
    .about-head-font{
        font-size: 3.5rem !important;
        line-height:3.5rem !important;
    }
    .about-head-padding{
        padding: 2rem 0 !important;
    }
    .line-head{
        display:none;
    }
    .ser-head-font{
        font-size: 3.5rem !important;
        line-height: 3.4rem !important;
        padding-bottom: 1.2rem;
    }
    .neberhood-font{
        font-size: 3.5rem;
        line-height:3.5rem;
        padding: 1% 0;
         
    }
    .career-font{
        font-size: 2.3rem;
        line-height: 2.3rem;
        
    }
    .home-head-font{
        font-size: 4rem;
        line-height: 4.2rem;
        font-family: 'My Custom Font';
        margin-bottom: 20px;
        color:black;
        letter-spacing: -1px;
        font-weight:600;
    }
    .case-line{
       display: none !important; 
    }
    .case_head_text{
        display:block;
    }
    .career-box {
        margin: auto;
        height: 250px !important;
        position: absolute;
        width: 90% !important;
        left: 5% !important;
        right: 5% !important;
        bottom: -20%;
        background: #ffffff;
        padding: 2rem !important;
    }

   
   
     
    
    
     
     
}
@media screen and(max-width:990px){
    .about-head-font{
        font-size: 4rem;
        line-height: 4.2rem;
    }
    .about-head-padding{
        padding: 4rem 0;
    }
    .ser-head-font{
        font-size: 4rem;
        line-height: 4.2rem;
    }
    
     
     
}
@media screen and (min-width:767px) and (max-width:990px){
    .discovry-font{
        font-size: 62px !important;
        line-height: 62px !important;
        
    }
    .about-head-font{
        font-size: 3.5rem !important;
        line-height:3.5rem !important;
    }
    .about-head-padding{
        padding: 2rem 0 !important;
    }
    .line-head{
        display:none;
    }
    .ser-head-font{
        font-size: 4rem !important;
        line-height: 4.2rem !important;
    }
    .career-font{
        font-size: 3.5rem;
        line-height: 3.2rem;
        
    }
    .home-head-font{
        font-size: 5rem;
        line-height: 5.2rem;
    }
    
    
     
}
@media screen and (min-width:991px) and (max-width:1100px){
    .contact-top-font{
         
        padding: 0 0 !important;
    }
}
@media screen and (min-width:768px){
    .head-font{
        font-size:82px;
        line-height: 82px;
        font-weight:500;
    }
    .discovery-text{
        font-size:62px;
        line-height: 62px;
         
    }
    .line-head{
        display: none;
    }
    .title-font{
        font-size: 42px;
        line-height: 43px;
        padding: 2rem;
    }
    .head-font{
        font: size 62px;
        line-height: 62px;
        font-weight:700;
        margin: auto; 
         
    }
    .head-aero{
        margin-top: 5%;
    }
   
     
     
     
}
@media screen and (min-width:990px){
    .head-font{
        font-size:96px;
        line-height: 96px;
        font-weight:600;
    }
     
    .line-head{
        display:block;
    }
    .title-font{
        font-size: 62px;
        line-height: 63px;
        padding: 2rem;
    }
    .about-head-padding{
        padding: 4rem 0 0;
    }
    .career-font{
        font-size: 5rem;
        line-height: 5.2rem;
        font-family: 'My Custom Font';
        margin-bottom: 20px;
        color:#000000;
        letter-spacing: -1px;
        font-weight:500; 
    }
    .home-head-font{
        font-size: 5rem;
        line-height: 5.2rem;
    }
    .contact-top-font{
        font-size: 4.5rem;
        line-height: 4.2rem;
        padding: 1rem 0;
    }
    .neberhood-font{
        font-size: 4rem;
        line-height: 4rem;
        padding: 2rem 0; 
    }
    #nav-overlay ul li a {
        display: block;
        text-align:left;
        margin-left: 20% !important;
        margin: 1rem 0;
        font-size: 4rem !important;
        line-height: 0rem !important;
      }
      .space-padding{
        padding: 10% 0% !important;
    }
     
     
}
@media screen and (min-width:1300px){
    .head-font{
        font-size:110px;
        line-height: 110px;
        
    }
    .discovery-text{
        font-size:90px;
        line-height: 90px;

         
    }
    .ser-head-font{
        font-size:5rem;
        line-height:5.2rem;
    }
    .line-head{
        display:block;
    }
    .about-head-font{
        font-size: 5rem;
       line-height: 5.2rem;
    }
    .about-head-padding{
        padding: 4rem 0 0;
    }
    .home-head-font{
        font-size: 6rem !important;
        line-height: 6.2rem !important;
    }
     

}
